* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.gameContainer {
    background-image: url(city.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.man {
    background-image: url(man.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 115px;
    position: absolute;
    bottom: 100px;
    left: 12px;
}

.obstacle {
    background-image: url(car.png);
    background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 60px;
    left: 300px;
}

.animateman {
    animation: man 0.6s linear;
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

.gameover {
    visibility: hidden;
    position: relative;
    top: 65px;
    text-align: center;
    font-size: 53px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#scorecont {
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
    width: 112px;
    font-weight: bold;
}

@keyframes man {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 400px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes obstacleAni {
    0% {
        left: 100vw;
    }
    100% {
        left: -10vw;
    }
}